<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <!-- Begin of importing google fonts -->
  <link rel="preconnect"
        href="https://fonts.googleapis.com" />
  <link rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap"
        rel="stylesheet" />
  <!-- End of importing google fonts -->
  <link rel="stylesheet"
        href="./css/bootstrap.min.css" />
  <link rel="stylesheet"
        href="./css/style.css" />

  <!-- JavaScript -->
  <script src="./js/bootstrap.bundle.min.js"></script>
  <script src="./js/axios.js"></script>
  <script src="./js/vue.global.js"></script>
  <!-- Production Version -->
  <!-- <script src="./js/vue.global.prod.min.js"></script> -->

  <title>Region Of Interest 設定工具</title>
</head>

<body>
  <div id="app"
       class="container">
    <input type="hidden"
           ref="processingData"
           value='{
            "CameraId": 1,
            "CameraNo": "Cam_01",
            "CameraName": "Seaside Industrial Park",
            "CameraPointId": 1,
            "CameraPointNo": "1",
            "CameraPointImageUrl": "https://eugenachtzehn.github.io/canvasToPNG/images/SamplePicture1.jpg",
            "ROIConfigs": [
                {
                    "ROIId": 2,
                    "CameraId": 1,
                    "CameraNo": "Cam_01",
                    "CameraPointId": 1,
                    "CameraPointNo": "1",
                    "ROI": 1,
                    "ALG_Type": 16,
                    "iWidth": 710,
                    "iHeight": 485,
                    "RPC": 0,
                    "SmokeTH": 35,
                    "DetectionTH": 50,
                    "Response": 15,
                    "MaxBrightness": 225,
                    "MinBrightness": 80,
                    "TextureTH": 30,
                    "ContrastTH": 30,
                    "alertPointnum": 4,
                    "Smoke_TL_X": 237,
                    "Smoke_TL_Y": 130,
                    "Smoke_TR_X": 410,
                    "Smoke_TR_Y": 133,
                    "Smoke_LR_X": 411,
                    "Smoke_LR_Y": 155,
                    "Smoke_LL_X": 241,
                    "Smoke_LL_Y": 150,
                    "Mode": 3,
                    "Stable_TL_X": 205,
                    "Stable_TL_Y": 406,
                    "Stable_TR_X": 271,
                    "Stable_TR_Y": 408,
                    "Stable_LR_X": 270,
                    "Stable_LR_Y": 447,
                    "Stable_LL_X": 208,
                    "Stable_LL_Y": 447,
                    "StableTH": 3,
                    "ALGFrame": 10,
                    "FlameTH": 20,
                    "DeNoise": 0,
                    "ShakeLevel": 1,
                    "BrightnessR": 200,
                    "BrightnessG": 100,
                    "BrightnessB": 50,
                    "RmoreG": 105,
                    "RmoreB": 120,
                    "GmoreB": 110,
                    "MinArea": 0,
                    "MaxRatio": 20,
                    "MinWidth": 0,
                    "MinHeight": 0,
                    "ShakeSensitivity": 200,
                    "BackgroundROI_X1": 428,
                    "BackgroundROI_Y1": 28,
                    "BackgroundROI_X2": 497,
                    "BackgroundROI_Y2": 33,
                    "BackgroundROI_X3": 489,
                    "BackgroundROI_Y3": 74,
                    "BackgroundROI_X4": 421,
                    "BackgroundROI_Y4": 91,
                    "FlashBrightness": 250,
                    "FlashPercent": 10,
                    "Sensitive": 15,
                    "ROIText": null,
                    "GroupName": "",
                    "IsDelete": false,
                    "InsertDateTime": "2023-03-27T15:18:51.823",
                    "InsertUnitId": 1,
                    "InsertUserId": 1,
                    "UpdateDateTime": "2023-06-08T18:27:28.53",
                    "UpdateUnitId": 1,
                    "UpdateUserId": 1
                },
                {
                    "ROIId": 305,
                    "CameraId": 1,
                    "CameraNo": "Cam_01",
                    "CameraPointId": 1,
                    "CameraPointNo": "1",
                    "ROI": 5,
                    "ALG_Type": 16,
                    "iWidth": 710,
                    "iHeight": 485,
                    "RPC": 0,
                    "SmokeTH": 30,
                    "DetectionTH": 50,
                    "Response": 10,
                    "MaxBrightness": 225,
                    "MinBrightness": 80,
                    "TextureTH": 30,
                    "ContrastTH": 30,
                    "alertPointnum": 4,
                    "Smoke_TL_X": 419,
                    "Smoke_TL_Y": 330,
                    "Smoke_TR_X": 578,
                    "Smoke_TR_Y": 335,
                    "Smoke_LR_X": 578,
                    "Smoke_LR_Y": 419,
                    "Smoke_LL_X": 403,
                    "Smoke_LL_Y": 419,
                    "Mode": 3,
                    "Stable_TL_X": 205,
                    "Stable_TL_Y": 406,
                    "Stable_TR_X": 271,
                    "Stable_TR_Y": 408,
                    "Stable_LR_X": 270,
                    "Stable_LR_Y": 447,
                    "Stable_LL_X": 208,
                    "Stable_LL_Y": 447,
                    "StableTH": 5,
                    "ALGFrame": 10,
                    "FlameTH": 20,
                    "DeNoise": 0,
                    "ShakeLevel": 1,
                    "BrightnessR": 200,
                    "BrightnessG": 100,
                    "BrightnessB": 50,
                    "RmoreG": 105,
                    "RmoreB": 120,
                    "GmoreB": 110,
                    "MinArea": 0,
                    "MaxRatio": 20,
                    "MinWidth": 0,
                    "MinHeight": 0,
                    "ShakeSensitivity": 200,
                    "BackgroundROI_X1": 428,
                    "BackgroundROI_Y1": 28,
                    "BackgroundROI_X2": 497,
                    "BackgroundROI_Y2": 33,
                    "BackgroundROI_X3": 489,
                    "BackgroundROI_Y3": 74,
                    "BackgroundROI_X4": 421,
                    "BackgroundROI_Y4": 91,
                    "FlashBrightness": 250,
                    "FlashPercent": 10,
                    "Sensitive": 15,
                    "ROIText": "5566",
                    "GroupName": "",
                    "IsDelete": false,
                    "InsertDateTime": "2023-06-08T18:27:28.53",
                    "InsertUnitId": 1,
                    "InsertUserId": 1,
                    "UpdateDateTime": "2023-06-08T18:27:28.53",
                    "UpdateUnitId": 1,
                    "UpdateUserId": 1
                }
            ]
        }' />
    <div>
      <div class="d-flex align-items-center">
        <h1>ROI產框</h1>
        <div class="ms-5 dayNight_select">
          <select class="form-select"
                  disabled>
            <option value="Day">日間 ROI</option>
            <option value="Night">夜間 ROI</option>
          </select>
        </div>
      </div>
      <h4 id="mouseCoords"
          class="mouseCoords">圖面座標 x: {{ XCoord }}, y: {{ YCoord }}</h4>
      <div class="d-flex align-content-center mb-2">
        <label for="canvasHeight"
               class="form-label label_adjust me-1">畫布高度：</label>
        <input type="number"
               id="canvasHeight"
               class="form-control canvas_input"
               v-model="canvasHeight" />
      </div>
      <div class="d-flex align-content-center mb-2">
        <label for="canvasWidth"
               class="form-label label_adjust me-1">畫布寬度：</label>
        <input type="number"
               id="canvasWidth"
               class="form-control canvas_input"
               v-model="canvasWidth" />
      </div>
      <div class="h5 hint_sec p-2 bg-white">
        操作提示：<br />
        <span class="text-success">{{ hint }}</span><br />
        <span class="h4 fw-bolder hint_animation">※ 按下"儲存"，您的操作才會確實存入資料庫喔！</span>
      </div>
    </div>
    <canvas id="canvas"
            :width="canvasWidth"
            :height="canvasHeight"
            ref="canvas"
            v-on:mousemove="getCoords"
            v-on:click="editRoiPoints(); editStableRoiPoints(); editBackgroundRoiPoints()"></canvas>

    <div class="roiNewPointsSec my-3 py-3 row content_section"
         v-if="editMode"
         style="background-color: lightgreen;">
      <h6>編輯區</h6>
      <div class="col-9">
        <div class="roiEditInnerSec row">
          <div class="col-1">
            <label for="ROINum"
                   class="form-label fontSmall">ROI編號</label>
            <input type="number"
                   id="ROINum"
                   class="form-control"
                   v-model="onEdit.ROI"
                   min="1" />
            <!-- <div class="point_sec">{{ onEdit.ROI }}</div> -->
          </div>
          <div class="col-1">
            <div class="fontSmall">左上X</div>
            <div class="point_sec">{{ onEdit.Smoke_TL_X }}</div>
          </div>
          <div class="col-1">
            <div class="fontSmall">左上Y</div>
            <div class="point_sec">{{ onEdit.Smoke_TL_Y }}</div>
          </div>
          <div class="col-1">
            <div class="fontSmall">右上X</div>
            <div class="point_sec">{{ onEdit.Smoke_TR_X }}</div>
          </div>
          <div class="col-1">
            <div class="fontSmall">右上Y</div>
            <div class="point_sec">{{ onEdit.Smoke_TR_Y }}</div>
          </div>
          <div class="col-1">
            <div class="fontSmall">右下X</div>
            <div class="point_sec">{{ onEdit.Smoke_LR_X }}</div>
          </div>
          <div class="col-1">
            <div class="fontSmall">右下Y</div>
            <div class="point_sec">{{ onEdit.Smoke_LR_Y }}</div>
          </div>
          <div class="col-1">
            <div class="fontSmall">左下X</div>
            <div class="point_sec">{{ onEdit.Smoke_LL_X }}</div>
          </div>
          <div class="col-1">
            <div class="fontSmall">左下Y</div>
            <div class="point_sec">{{ onEdit.Smoke_LL_Y }}</div>
          </div>
          <div class="col-3">
            <label for="ROIText"
                   class="form-label fontSmall">ROI名稱</label>
            <input type="text"
                   id="ROIText"
                   class="form-control"
                   v-model="onEdit.ROIText" />
          </div>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-center align-items-end">
        <div class="roiEditInnerSec">
          <button type="button"
                  class="btn me-3 btn-success"
                  v-on:click="storeEditResult">
            確定
          </button>
          <button type="button"
                  class="btn btn-danger"
                  v-on:click="deleteEditResult">
            取消
          </button>
        </div>
      </div>
    </div>

    <div v-for="(item, index) in processingData.ROIConfigs"
         :key="item.ROI">
      <!-- <h6>ROI</h6> -->
      <!-- 非標記刪除且具有ROI的才顯示 -->
      <div class="roiPointsSec my-3 py-3 row content_section"
           v-if="!item.IsDelete && item.ROI">
        <div class="col-9">
          <div class="roiInnerSec row">
            <div class="col-1">
              <div class="fontSmall">ROI編號</div>
              <div class="point_sec">{{ item.ROI }}</div>
            </div>
            <div class="col-1">
              <div class="fontSmall">左上X</div>
              <div class="point_sec">{{ item.Smoke_TL_X }}</div>
            </div>
            <div class="col-1">
              <div class="fontSmall">左上Y</div>
              <div class="point_sec">{{ item.Smoke_TL_Y }}</div>
            </div>
            <div class="col-1">
              <div class="fontSmall">右上X</div>
              <div class="point_sec">{{ item.Smoke_TR_X }}</div>
            </div>
            <div class="col-1">
              <div class="fontSmall">右上Y</div>
              <div class="point_sec">{{ item.Smoke_TR_Y }}</div>
            </div>
            <div class="col-1">
              <div class="fontSmall">右下X</div>
              <div class="point_sec">{{ item.Smoke_LR_X }}</div>
            </div>
            <div class="col-1">
              <div class="fontSmall">右下Y</div>
              <div class="point_sec">{{ item.Smoke_LR_Y }}</div>
            </div>
            <div class="col-1">
              <div class="fontSmall">左下X</div>
              <div class="point_sec">{{ item.Smoke_LL_X }}</div>
            </div>
            <div class="col-1">
              <div class="fontSmall">左下Y</div>
              <div class="point_sec">{{ item.Smoke_LL_Y }}</div>
            </div>
            <div class="col-3">
              <div class="fontSmall">ROI名稱</div>
              <div class="point_sec">{{ item.ROIText }}</div>
            </div>
          </div>
        </div>
        <div class="col-3 d-flex justify-content-center align-items-end">
          <div class="roiInnerSec">
            <button type="button"
                    class="btn btn-warning me-1"
                    v-on:click="switchMode(item)">
              編輯框
            </button>
            <!-- Bootstrap Modal 觸發按鈕 -->
            <button type="button"
                    class="btn btn-info me-1"
                    data-bs-toggle="modal"
                    data-bs-target="#staticModalEditParams"
                    v-on:click="startEditParams(index)">
              編輯參數
            </button>
            <button type="button"
                    class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#staticModalCheckDelete"
                    v-on:click="openDeleteModal(index)">
              刪除此ROI
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Params Modal -->
    <div class="modal fade"
         id="staticModalEditParams"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1">
      <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"
                id="staticBackdropLabel">編輯 ROI:{{ processingData.ROIConfigs[onParamEditIndex].ROI }} 參數</h5>
            <!-- <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"></button> -->
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 col-md-4 mt-2">
                  <label for="SmokeTH"
                         class="form-label">煙霧敏感度(值域：10~100)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="煙敏感度，越低越敏感，超過門檻即為煙霧，預設值為30">參數說明</button>
                  <input id="SmokeTH"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.SmokeTH" />
                </div>
                <div class="col-12 col-md-4 mt-2">
                  <label for="DetectionTH"
                         class="form-label">移動偵測(值域：10~100)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="偵測門檻，畫面變化大於此門檻不做偵測，預設值為10，煙囪要設為100">參數說明</button>
                  <input id="DetectionTH"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.DetectionTH" />
                </div>
                <div class="col-12 col-md-4 mt-2">
                  <label for="Response"
                         class="form-label">反應(值域：1~30)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="反應時間，越小反應越快但易誤判，預設值為10">參數說明</button>
                  <input id="Response"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.Response" />
                </div>
                <div class="col-12 col-md-4 mt-2">
                  <label for="MaxBrightness"
                         class="form-label">黑煙明度(值域：0~255)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="亮度，設定煙最大亮度，亮度小於此門檻時開始偵測，預設值為225">參數說明</button>
                  <input id="MaxBrightness"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.MaxBrightness" />
                </div>
                <div class="col-12 col-md-4 mt-2">
                  <label for="MinBrightness"
                         class="form-label">白煙明度(值域：0~255)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="亮度，設定煙最小亮度，亮度大於此門檻時開始偵測，預設值為80">參數說明</button>
                  <input id="MinBrightness"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.MinBrightness" />
                </div>
                <div class="col-12 col-md-4 mt-2">
                  <label for="TextureTH"
                         class="form-label">紋理(值域：10~50)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="紋理，煙越濃紋理越低，煙紋理小於此門檻時開始偵測，預設值為30">參數說明</button>
                  <input id="TextureTH"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.TextureTH" />
                </div>
                <div class="col-12 col-md-4 mt-2">
                  <label for="ContrastTH"
                         class="form-label">對比(值域：10~50)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="顏色對比，越低顏色對比越低，煙對比小於此門檻時開始偵測，預設值為30">參數說明</button>
                  <input id="ContrastTH"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.ContrastTH" />
                </div>
                <div class="col-12 col-md-4 mt-2">
                  <label for="StableTH"
                         class="form-label">震動敏感度(值域：1~1000)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="震動敏感度，越低越敏感，預設值為5">參數說明</button>
                  <input id="StableTH"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.StableTH" />
                </div>
                <div class="col-12 col-md-4 mt-2">
                  <label for="ALGFrame"
                         class="form-label">辨識幀數(值域：1~30)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="煙霧約幾張影像會變化一次，越低越早發報事件，預設值為10">參數說明</button>
                  <input id="ALGFrame"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.ALGFrame" />
                </div>

                <!-- 2023/06 擴增參數的區域 -->
                <div class="col-12 col-md-4 mt-2">
                  <label for="Mode"
                         class="form-label">Mode(值域：0 或 3)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="0: 啟用背景ROI, 最大/最小亮度無效 <br /> 3: 啟用最大/最小亮度參數"
                          data-bs-html="true">參數說明</button>
                  <input id="Mode"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.Mode" />
                </div>
                <!-- <div class="col-12 col-md-4 mt-2">
                  <label for="BrightnessR"
                         class="form-label">紅色最小亮度</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="紅色最小亮度">參數說明</button>
                  <input id="BrightnessR"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.BrightnessR" />
                </div>
                <div class="col-12 col-md-4 mt-2">
                  <label for="BrightnessG"
                         class="form-label">綠色最小亮度</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="綠色最小亮度">參數說明</button>
                  <input id="BrightnessG"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.BrightnessG" />
                </div>
                <div class="col-12 col-md-4 mt-2">
                  <label for="BrightnessB"
                         class="form-label">藍色最小亮度</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="藍色最小亮度">參數說明</button>
                  <input id="BrightnessB"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.BrightnessB" />
                </div> -->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- data-bs-dismiss="modal" 是關閉此參數編輯框 -->
            <button type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                    v-on:click="stopEditParams">取消</button>
            <button type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    v-on:click="saveEditParams">確定</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete ROI Modal -->
    <div class="modal fade"
         id="staticModalCheckDelete"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              確定刪除這筆 ROI 嗎？
            </h5>
          </div>
          <div class="modal-body">
            <div class="container">
              ROI 編號：{{ processingData.ROIConfigs[onDeleteIndex].ROI }} <br />
              ROI 名稱：{{ processingData.ROIConfigs[onDeleteIndex].ROIText }} <br />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    v-on:click="closeDeleteModal">取消</button>
            <button type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                    v-on:click="deleteRoi">確定刪除</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Stable Modal -->
    <div class="modal fade"
         id="staticModalStableCheckDelete"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container">
              確定刪除震動嗎？
            </div>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">取消</button>
            <button type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                    v-on:click="deleteStableStage">確定刪除</button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center my-3">
      <a href="#mouseCoords"
         class="btn btn-secondary"
         v-on:click="addNewRoi">
        新增ROI
      </a>
    </div>

    <!-- 沒有震動ROI會顯示 "新增震動ROI" -->
    <div class="stableNewPointsSec my-3 py-3 row content_section"
         v-if="editStableMode">
      <h6>震動編輯區</h6>
      <div class="col-1">
        <div>左上X</div>
        <div class="point_sec">{{ onEditStableDisplay.Stable_TL_X }}</div>
      </div>
      <div class="col-1">
        <div>左上Y</div>
        <div class="point_sec">{{ onEditStableDisplay.Stable_TL_Y }}</div>
      </div>
      <div class="col-1">
        <div>右上X</div>
        <div class="point_sec">{{ onEditStableDisplay.Stable_TR_X }}</div>
      </div>
      <div class="col-1">
        <div>右上Y</div>
        <div class="point_sec">{{ onEditStableDisplay.Stable_TR_Y }}</div>
      </div>
      <div class="col-1">
        <div>右下X</div>
        <div class="point_sec">{{ onEditStableDisplay.Stable_LR_X }}</div>
      </div>
      <div class="col-1">
        <div>右下Y</div>
        <div class="point_sec">{{ onEditStableDisplay.Stable_LR_Y }}</div>
      </div>
      <div class="col-1">
        <div>左下X</div>
        <div class="point_sec">{{ onEditStableDisplay.Stable_LL_X }}</div>
      </div>
      <div class="col-1">
        <div>左下Y</div>
        <div class="point_sec">{{ onEditStableDisplay.Stable_LL_Y }}</div>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-end">
        <button type="button"
                class="btn me-3 btn-success"
                v-on:click="storeStableEditResult">
          確定
        </button>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-end">
        <button type="button"
                class="btn btn-danger"
                v-on:click="deleteStableEditResult">
          取消
        </button>
      </div>
    </div>
    <div class="stablePointsSec my-3 py-3 row content_section"
         v-if="onEditStableStage.Stable_LL_Y">
      <h6>震動ROI</h6>
      <div class="col-1">
        <div>左上X</div>
        <div class="point_sec">{{ onEditStableStage.Stable_TL_X }}</div>
      </div>
      <div class="col-1">
        <div>左上Y</div>
        <div class="point_sec">{{ onEditStableStage.Stable_TL_Y }}</div>
      </div>
      <div class="col-1">
        <div>右上X</div>
        <div class="point_sec">{{ onEditStableStage.Stable_TR_X }}</div>
      </div>
      <div class="col-1">
        <div>右上Y</div>
        <div class="point_sec">{{ onEditStableStage.Stable_TR_Y }}</div>
      </div>
      <div class="col-1">
        <div>右下X</div>
        <div class="point_sec">{{ onEditStableStage.Stable_LR_X }}</div>
      </div>
      <div class="col-1">
        <div>右下Y</div>
        <div class="point_sec">{{ onEditStableStage.Stable_LR_Y }}</div>
      </div>
      <div class="col-1">
        <div>左下X</div>
        <div class="point_sec">{{ onEditStableStage.Stable_LL_X }}</div>
      </div>
      <div class="col-1">
        <div>左下Y</div>
        <div class="point_sec">{{ onEditStableStage.Stable_LL_Y }}</div>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-end">
        <button type="button"
                class="btn btn-warning me-1"
                v-on:click="switchStableMode">
          編輯
        </button>
        <button type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#staticModalStableCheckDelete">
          刪除震動ROI
        </button>
      </div>

    </div>

    <div>
      <button type="button"
              class="btn btn-secondary mx-auto my-3 d-block"
              v-on:click="switchStableMode">
        新增震動ROI
      </button>
    </div>

    <!-- 沒有背景ROI會顯示 "新增背景ROI" -->
    <div class="backgroundNewPointsSec my-3 py-3 row content_section"
         v-if="editBackgroundMode">
      <h6>背景框編輯區</h6>
      <div class="col-1">
        <div>左上X</div>
        <div class="point_sec">{{ onEditBackgroundDisplay.BackgroundROI_X1 }}</div>
      </div>
      <div class="col-1">
        <div>左上Y</div>
        <div class="point_sec">{{ onEditBackgroundDisplay.BackgroundROI_Y1 }}</div>
      </div>
      <div class="col-1">
        <div>右上X</div>
        <div class="point_sec">{{ onEditBackgroundDisplay.BackgroundROI_X2 }}</div>
      </div>
      <div class="col-1">
        <div>右上Y</div>
        <div class="point_sec">{{ onEditBackgroundDisplay.BackgroundROI_Y2 }}</div>
      </div>
      <div class="col-1">
        <div>右下X</div>
        <div class="point_sec">{{ onEditBackgroundDisplay.BackgroundROI_X3 }}</div>
      </div>
      <div class="col-1">
        <div>右下Y</div>
        <div class="point_sec">{{ onEditBackgroundDisplay.BackgroundROI_Y3 }}</div>
      </div>
      <div class="col-1">
        <div>左下X</div>
        <div class="point_sec">{{ onEditBackgroundDisplay.BackgroundROI_X4 }}</div>
      </div>
      <div class="col-1">
        <div>左下Y</div>
        <div class="point_sec">{{ onEditBackgroundDisplay.BackgroundROI_Y4 }}</div>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-end">
        <button type="button"
                class="btn me-3 btn-success"
                v-on:click="storeBackgroundEditResult">
          確定
        </button>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-end">
        <button type="button"
                class="btn btn-danger"
                v-on:click="deleteBackgroundEditResult">
          取消
        </button>
      </div>
    </div>
    <div class="backgroundPointsSec my-3 py-3 row content_section"
         v-if="onEditBackgroundStage.BackgroundROI_Y4">
      <h6>背景ROI</h6>
      <div class="col-1">
        <div>左上X</div>
        <div class="point_sec">{{ onEditBackgroundStage.BackgroundROI_X1 }}</div>
      </div>
      <div class="col-1">
        <div>左上Y</div>
        <div class="point_sec">{{ onEditBackgroundStage.BackgroundROI_Y1 }}</div>
      </div>
      <div class="col-1">
        <div>右上X</div>
        <div class="point_sec">{{ onEditBackgroundStage.BackgroundROI_X2 }}</div>
      </div>
      <div class="col-1">
        <div>右上Y</div>
        <div class="point_sec">{{ onEditBackgroundStage.BackgroundROI_Y2 }}</div>
      </div>
      <div class="col-1">
        <div>右下X</div>
        <div class="point_sec">{{ onEditBackgroundStage.BackgroundROI_X3 }}</div>
      </div>
      <div class="col-1">
        <div>右下Y</div>
        <div class="point_sec">{{ onEditBackgroundStage.BackgroundROI_Y3 }}</div>
      </div>
      <div class="col-1">
        <div>左下X</div>
        <div class="point_sec">{{ onEditBackgroundStage.BackgroundROI_X4 }}</div>
      </div>
      <div class="col-1">
        <div>左下Y</div>
        <div class="point_sec">{{ onEditBackgroundStage.BackgroundROI_Y4 }}</div>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-end">
        <button type="button"
                class="btn btn-warning me-1"
                v-on:click="switchBackgroundMode">
          編輯
        </button>
        <!-- <button type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#staticModalStableCheckDelete">
          刪除背景ROI
        </button> -->
      </div>
    </div>

    <div>
      <button type="button"
              class="btn btn-secondary mx-auto my-3 d-block"
              v-on:click="switchBackgroundMode">
        新增背景ROI
      </button>
    </div>

    <button type="button"
            class="btn btn-success mx-auto my-3 d-block"
            v-on:click="exportImage">
      匯出此場景圖像
    </button>
    <button type="button"
            class="btn btn-lg btn-primary fw-bolder mx-auto my-3 d-block"
            v-on:click="postToDatabase">
      儲存
    </button>
  </div>
</body>

</html>
<script src="./js/ROI.js"></script>

<!-- must be added after ROI.js, init popover feature of Bootstrap5 -->
<!-- Initialize popovers -->
<script>
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
  const popoverList = [...popoverTriggerList].map(
    (popoverTriggerEl) => new bootstrap.Popover(popoverTriggerEl)
  );
</script>