<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <!-- Begin of importing google fonts -->
  <link rel="preconnect"
        href="https://fonts.googleapis.com" />
  <link rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap"
        rel="stylesheet" />
  <!-- End of importing google fonts -->
  <link rel="stylesheet"
        href="./css/bootstrap.min.css" />
  <link rel="stylesheet"
        href="./css/style.css" />

  <!-- JavaScript -->
  <script src="./js/bootstrap.bundle.min.js"></script>
  <script src="./js/axios.js"></script>
  <script src="./js/vue.global.js"></script>
  <!-- Production Version -->
  <!-- <script src="./js/vue.global.prod.min.js"></script> -->

  <title>Region Of Interest 設定工具</title>
</head>

<body>
  <div id="app"
       class="container">
    <input type="hidden"
           ref="processingData"
           value='{
            "CameraId":1,
            "CameraNo": "Cam_01",
            "CameraName":"Seaside Industrial Park",
            "CameraPointId":2,
            "CameraPointNo":"2",
            "CameraPointImageUrl":"https://eugenachtzehn.github.io/canvasToPNG/images/SamplePicture1.jpg",
            "ROIConfigs":[
            {"ROIId":4,
            "CameraId":1,
            "CameraNo":"Cam_01",
            "CameraPointId":2,
            "CameraPointNo":"2",
            "ROI":99,
            "ALG_Type":16,
            "iWidth":704,
            "iHeight":480,
            "RPC":0,
            "SmokeTH":50,
            "DetectionTH":60,
            "Response":15,
            "MaxBrightness":200,
            "MinBrightness":60,
            "TextureTH":40,
            "ContrastTH":40,
            "alertPointnum":4,
            "Smoke_TL_X":55,
            "Smoke_TL_Y":135,
            "Smoke_TR_X":255,
            "Smoke_TR_Y":135,
            "Smoke_LR_X":255,
            "Smoke_LR_Y":215,
            "Smoke_LL_X":55,
            "Smoke_LL_Y":215,
            "Mode":3,
            "Stable_TL_X":450,
            "Stable_TL_Y":310,
            "Stable_TR_X":500,
            "Stable_TR_Y":310,
            "Stable_LR_X":500,
            "Stable_LR_Y":360,
            "Stable_LL_X":450,
            "Stable_LL_Y":360,
            "StableTH":6,
            "ALGFrame":12,
            "ROIText":null,
            "GroupName":"",
            "IsDelete":false,
            "InsertDateTime":"2023-03-25T18:14:08.78",
            "InsertUnitId":1,
            "InsertUserId":1,
            "UpdateDateTime":"2023-04-27T13:25:06.207",
            "UpdateUnitId":1,
            "UpdateUserId":1}
            ]}' />
    <div>
      <h1>ROI產框</h1>
      <h4 id="mouseCoords"
          class="mouseCoords">圖面座標 x: {{ XCoord }}, y: {{ YCoord }}</h4>
      <div class="h5 hint_sec p-2 bg-white">
        操作提示：<br />
        <span class="text-success">{{ hint }}</span><br />
        <span class="h4 fw-bolder hint_animation">※ 按下"儲存"才會確實存入資料庫喔！</span>
      </div>
    </div>
    <canvas id="canvas"
            width="704"
            height="480"
            ref="canvas"
            v-on:mousemove="getCoords"
            v-on:click="editRoiPoints(); editStableRoiPoints()"></canvas>

    <div class="roiNewPointsSec my-3 py-3 row"
         v-if="editMode">
      <h6>編輯區</h6>
      <div class="col-1">
        <label for="ROINum"
               class="form-label">ROI編號</label>
        <input type="number"
               id="ROINum"
               class="form-control"
               v-model="onEdit.ROI"
               min="1" />
        <!-- <div class="point_sec">{{ onEdit.ROI }}</div> -->
      </div>
      <div class="col-1">
        <div>左上X</div>
        <div class="point_sec">{{ onEdit.Smoke_TL_X }}</div>
      </div>
      <div class="col-1">
        <div>左上Y</div>
        <div class="point_sec">{{ onEdit.Smoke_TL_Y }}</div>
      </div>
      <div class="col-1">
        <div>右上X</div>
        <div class="point_sec">{{ onEdit.Smoke_TR_X }}</div>
      </div>
      <div class="col-1">
        <div>右上Y</div>
        <div class="point_sec">{{ onEdit.Smoke_TR_Y }}</div>
      </div>
      <div class="col-1">
        <div>右下X</div>
        <div class="point_sec">{{ onEdit.Smoke_LR_X }}</div>
      </div>
      <div class="col-1">
        <div>右下Y</div>
        <div class="point_sec">{{ onEdit.Smoke_LR_Y }}</div>
      </div>
      <div class="col-1">
        <div>左下X</div>
        <div class="point_sec">{{ onEdit.Smoke_LL_X }}</div>
      </div>
      <div class="col-1">
        <div>左下Y</div>
        <div class="point_sec">{{ onEdit.Smoke_LL_Y }}</div>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-end">
        <button type="button"
                class="btn me-3 btn-success"
                v-on:click="storeEditResult">
          確定
        </button>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-end">
        <button type="button"
                class="btn btn-danger"
                v-on:click="deleteEditResult">
          取消
        </button>
      </div>
    </div>

    <div class="roiPointsSec my-3 py-3 row"
         v-for="(item, index) in processingData.ROIConfigs"
         :key="item.ROI">
      <!-- <h6>ROI</h6> -->
      <div class="col-1">
        <div>ROI編號</div>
        <div class="point_sec">{{ item.ROI }}</div>
      </div>
      <div class="col-1">
        <div>左上X</div>
        <div class="point_sec">{{ item.Smoke_TL_X }}</div>
      </div>
      <div class="col-1">
        <div>左上Y</div>
        <div class="point_sec">{{ item.Smoke_TL_Y }}</div>
      </div>
      <div class="col-1">
        <div>右上X</div>
        <div class="point_sec">{{ item.Smoke_TR_X }}</div>
      </div>
      <div class="col-1">
        <div>右上Y</div>
        <div class="point_sec">{{ item.Smoke_TR_Y }}</div>
      </div>
      <div class="col-1">
        <div>右下X</div>
        <div class="point_sec">{{ item.Smoke_LR_X }}</div>
      </div>
      <div class="col-1">
        <div>右下Y</div>
        <div class="point_sec">{{ item.Smoke_LR_Y }}</div>
      </div>
      <div class="col-1">
        <div>左下X</div>
        <div class="point_sec">{{ item.Smoke_LL_X }}</div>
      </div>
      <div class="col-1">
        <div>左下Y</div>
        <div class="point_sec">{{ item.Smoke_LL_Y }}</div>
      </div>
      <div class="col-2 d-flex justify-content-center align-items-end"
           v-if="item.ROI">
        <button type="button"
                class="btn me-3 btn-warning"
                v-on:click="switchMode(item.ROI)">
          編輯框
        </button>
        <!-- Bootstrap Modal 觸發按鈕 -->
        <button type="button"
                class="btn btn-info"
                data-bs-toggle="modal"
                data-bs-target="#staticModal"
                v-on:click="startEditParams(index)">
          編輯參數
        </button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade"
         id="staticModal"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"
                id="staticBackdropLabel">編輯 ROI:{{ processingData.ROIConfigs[onParamEditIndex].ROI }} 參數</h5>
            <!-- <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"></button> -->
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 mt-2">
                  <label for="SmokeTH"
                         class="form-label">煙霧敏感度(值域：10~100)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="煙敏感度，越低越敏感，超過門檻即為煙霧，預設值為30">參數說明</button>
                  <input id="SmokeTH"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.SmokeTH" />
                </div>
                <div class="col-md-6 mt-2">
                  <label for="DetectionTH"
                         class="form-label">移動偵測(值域：10~100)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="偵測門檻，畫面變化大於此門檻不做偵測，預設值為10，煙囪要設為100">參數說明</button>
                  <input id="DetectionTH"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.DetectionTH" />
                </div>
                <div class="col-md-6 mt-2">
                  <label for="Response"
                         class="form-label">反應(值域：1~30)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="反應時間，越小反應越快但易誤判，預設值為10">參數說明</button>
                  <input id="Response"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.Response" />
                </div>
                <div class="col-md-6 mt-2">
                  <label for="MaxBrightness"
                         class="form-label">黑煙明度(值域：0~255)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="亮度，設定煙最大亮度，亮度小於此門檻時開始偵測，預設值為225">參數說明</button>
                  <input id="MaxBrightness"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.MaxBrightness" />
                </div>
                <div class="col-md-6 mt-2">
                  <label for="MinBrightness"
                         class="form-label">白煙明度(值域：0~255)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="亮度，設定煙最小亮度，亮度大於此門檻時開始偵測，預設值為80">參數說明</button>
                  <input id="MinBrightness"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.MinBrightness" />
                </div>
                <div class="col-md-6 mt-2">
                  <label for="TextureTH"
                         class="form-label">紋理(值域：10~50)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="紋理，煙越濃紋理越低，煙紋理小於此門檻時開始偵測，預設值為30">參數說明</button>
                  <input id="TextureTH"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.TextureTH" />
                </div>
                <div class="col-md-6 mt-2">
                  <label for="ContrastTH"
                         class="form-label">對比(值域：10~50)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="顏色對比，越低顏色對比越低，煙對比小於此門檻時開始偵測，預設值為30">參數說明</button>
                  <input id="ContrastTH"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.ContrastTH" />
                </div>
                <div class="col-md-6 mt-2">
                  <label for="StableTH"
                         class="form-label">震動敏感度(值域：1~1000)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="震動敏感度，越低越敏感，預設值為5">參數說明</button>
                  <input id="StableTH"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.StableTH" />
                </div>
                <div class="col-md-6 mt-2">
                  <label for="ALGFrame"
                         class="form-label">辨識幀數(值域：1~30)</label>
                  <button type="button"
                          class="btn btn-sm btn-outline-info ms-2"
                          data-bs-toggle="popover"
                          data-bs-content="煙霧約幾張影像會變化一次，越低越早發報事件，預設值為10">參數說明</button>
                  <input id="ALGFrame"
                         class="form-control"
                         type="number"
                         v-model="onParamEditObject.ALGFrame" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- data-bs-dismiss="modal" 是關閉此參數編輯框 -->
            <button type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                    v-on:click="stopEditParams">取消</button>
            <button type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    v-on:click="saveEditParams">確定</button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center my-3">
      <a href="#mouseCoords"
         class="btn btn-secondary"
         v-on:click="addNewRoi">
        新增ROI
      </a>
    </div>

    <!-- 沒有震動ROI會顯示 "新增震動ROI" -->
    <div class="stablePointsSec my-3 py-3 row"
         v-if="!editStableMode">
      <h6>震動ROI</h6>
      <div class="col-1">
        <div>左上X</div>
        <div class="point_sec">{{ processingData.ROIConfigs[0].Stable_TL_X }}</div>
      </div>
      <div class="col-1">
        <div>左上Y</div>
        <div class="point_sec">{{ processingData.ROIConfigs[0].Stable_TL_Y }}</div>
      </div>
      <div class="col-1">
        <div>右上X</div>
        <div class="point_sec">{{ processingData.ROIConfigs[0].Stable_TR_X }}</div>
      </div>
      <div class="col-1">
        <div>右上Y</div>
        <div class="point_sec">{{ processingData.ROIConfigs[0].Stable_TR_Y }}</div>
      </div>
      <div class="col-1">
        <div>右下X</div>
        <div class="point_sec">{{ processingData.ROIConfigs[0].Stable_LR_X }}</div>
      </div>
      <div class="col-1">
        <div>右下Y</div>
        <div class="point_sec">{{ processingData.ROIConfigs[0].Stable_LR_Y }}</div>
      </div>
      <div class="col-1">
        <div>左下X</div>
        <div class="point_sec">{{ processingData.ROIConfigs[0].Stable_LL_X }}</div>
      </div>
      <div class="col-1">
        <div>左下Y</div>
        <div class="point_sec">{{ processingData.ROIConfigs[0].Stable_LL_Y }}</div>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-end">
        <button type="button"
                class="btn btn-warning"
                v-on:click="switchStableMode"
                v-if="processingData.ROIConfigs[0].Stable_LL_Y">
          編輯
        </button>
      </div>
    </div>
    <div class="stableNewPointsSec my-3 py-3 row"
         v-if="editStableMode">
      <h6>震動編輯區</h6>
      <div class="col-1">
        <div>左上X</div>
        <div class="point_sec">{{ onEditStable.Stable_TL_X }}</div>
      </div>
      <div class="col-1">
        <div>左上Y</div>
        <div class="point_sec">{{ onEditStable.Stable_TL_Y }}</div>
      </div>
      <div class="col-1">
        <div>右上X</div>
        <div class="point_sec">{{ onEditStable.Stable_TR_X }}</div>
      </div>
      <div class="col-1">
        <div>右上Y</div>
        <div class="point_sec">{{ onEditStable.Stable_TR_Y }}</div>
      </div>
      <div class="col-1">
        <div>右下X</div>
        <div class="point_sec">{{ onEditStable.Stable_LR_X }}</div>
      </div>
      <div class="col-1">
        <div>右下Y</div>
        <div class="point_sec">{{ onEditStable.Stable_LR_Y }}</div>
      </div>
      <div class="col-1">
        <div>左下X</div>
        <div class="point_sec">{{ onEditStable.Stable_LL_X }}</div>
      </div>
      <div class="col-1">
        <div>左下Y</div>
        <div class="point_sec">{{ onEditStable.Stable_LL_Y }}</div>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-end">
        <button type="button"
                class="btn me-3 btn-success"
                v-on:click="storeStableEditResult">
          確定
        </button>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-end">
        <button type="button"
                class="btn btn-danger"
                v-on:click="deleteStableEditResult">
          取消
        </button>
      </div>
    </div>
    <div>
      <button type="button"
              class="btn btn-secondary mx-auto my-3 d-block"
              v-on:click="switchStableMode">
        新增震動ROI
      </button>
    </div>
    <button type="button"
            class="btn btn-lg btn-primary fw-bolder mx-auto my-3 d-block"
            v-on:click="postToDatabase">
      儲存
    </button>
  </div>
</body>

</html>
<script src="./js/ROI.js"></script>

<!-- must be added after ROI.js, init popover feature of Bootstrap5 -->
<!-- Initialize popovers -->
<script>
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
  const popoverList = [...popoverTriggerList].map(
    (popoverTriggerEl) => new bootstrap.Popover(popoverTriggerEl)
  );
</script>